<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                       {{patient.lname}}, {{patient.fname}}
                    </h3>
                </div>
                <div class="panel-body">
                    <form ng-init="loadPatientData()" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="inputfname" class="col-sm-2 control-label">
                                Name:
                            </label>
                            <div class="col-sm-4">
                                <input required type="text" class="form-control" id="fname" ng-model="patient.fname" placeholder="First name" />
                            </div>
                            <div class="col-sm-6">
                                <input required type="text" class="form-control" id="lname" ng-model="patient.lname" placeholder="Last name" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDOB" class="col-sm-2 control-label">
                                DOB:
                            </label>
                            <div class="col-sm-4">
                            <input type="text" required class="form-control" datepicker-localdate datepicker-popup="mediumDate" max-date="{{maxDate}}" min-date="{{minDate}}" show-button-bar="false" show-weeks="false" is-open="datePickerIsOpen" ng-click="datePickerOpen()" ng-model="patient.DOB" />
                            </div>
                            <label for="genderSelect" class="col-sm-2 control-label">
                                Gender:
                            </label>
                            <div class="col-sm-4">
                                <select ng-model="patient.sex" ng-options="gender for gender in ['male', 'female']">
                                </select>
                            </div>                
                        </div>

                        <div class="form-group">
                            <label for="address" class="col-sm-2 control-label">
                                Address:
                            </label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="patient.street" class="form-control" id="street" placeholder="Street" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="citystate" class="col-sm-3 control-label">
                                City/State/Zip
                            </label>
                            <div class="col-sm-4">
                                <input type="text" ng-model="patient.city" class="form-control" id="city" placeholder="City" />
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control" ng-model="selectedState" ng-options="state.name for state in states track by state.code">
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <input type="text" ng-model="patient.postal_code" class="form-control" id="zip" placeholder="zip" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="homephone" class="col-sm-2 control-label">
                                Phone:
                            </label>
                            <div class="col-sm-4">
                               <!--  <label class="control-label">Home</label> -->
                                <input type="phone" ng-model="patient.phone_home" class="form-control" id="homephone" placeholder="Home phone" />
                            </div>
                            <div class="col-sm-4">
                                <!-- <label class="control-label">Cell</label> -->
                                <input type="phone" ng-model="patient.phone_cell" class="form-control" id="cellphone" placeholder="Cell phone" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                Email:
                            </label>
                            <div class="col-sm-10">
                                <input ng-model="patient.email" type="email" class="form-control" id="email" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <label class="btn btn-primary" ng-click="saveData()">
                                    Save changes
                                </label>
                                <label class="btn btn-default" ng-click="cancel()">
                                    Cancel
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    Panel footer
                </div>
            </div>
        </div>
        <!--         <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Add Service {{patient.fname}}
                    </h3>
                </div>
                <div class="panel-body">
                    <p>Date: <input type="text" id="datepicker"></p>
                </div>
                <div class="panel-footer">
                                       
                </div>
            </div>
        </div> -->
    </div>
</div>
<script>
$(function() {
    var currentYear = (new Date).getFullYear();
    $("#dobinput").datepicker({
        yearRange: "1915:" + currentYear,
        changeMonth: true,
        changeYear: true
    });

})
</script>
