<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Patient Profile</h3>
                    </div>
                    <div class="panel-body">
                        <button ng-click="loadPatient()"></button>
                        <input type="text" ng-model="id" placeholder="id" />
                        <h3>{{patient.fname}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
